<a href="/signout">Logout</a>
<a href="/ideas">Ideas Dashboard</a>
<h3>Name: <%= @user.first_name %> <%= @user.last_name%></h3>
<h3>Alias: <%= @user.alias %></h3>
<h3>Email: <%= @user.email %></h3>
<hr />
<h3>Total Number of Ideas: <%= @ideas %></h3>
<h3>Total Number of Likes: <%= @likes %></h3>